<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Confirmación de Registro</title>
</head>
<body class="p-6">
  <p class="font-bold text-xl">Hola {{name}},</p>
  <p>Has recibido este correo porque te registraste en NestJS y necesitas confirmar tu cuenta.</p>
  <p>Confirma tu cuenta en el siguiente enlace:</p>
  <a href="{{url}}" class="text-blue-600 underline">Confirmar cuenta</a>
</body>
</html>
